/* 容器样式 */
#container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* 菜单栏样式 */
#menu {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    position: fixed; /* 固定位置 */
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden; /* 移除菜单栏隐藏效果 */
    transition: none; /* 移除过渡效果 */
}

/* 显示菜单栏按钮容器 */
#menuButtons {
    display: flex; /* 直接显示按钮容器 */
    flex-direction: column;
}

/* 菜单栏按钮样式 */
#menu button {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 10px;
    margin: 5px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#menu button:hover {
    background-color: #777;
}

/* 主内容区域样式 */
#mainContent {
    margin-left: 200px; /* 留出菜单栏的位置 */
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f4f4f4;
}

/* 聊天窗口和在线用户列表样式 */
#chatWindow, #onlineUsers {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

#chatMessages {
    border: 1px solid #ddd;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
}

/* 对话框样式 */
.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 1000;
}

.dialog.show {
    display: block;
    /* 其他样式 */
}

.dialog button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dialog button:hover {
    background-color: #0056b3;
}

.dialog label {
    display: block;
    margin-bottom: 5px;
}

.dialog input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* 在线用户列表的样式 */
#onlineUsersList {
    list-style-type: none;
    padding: 0;
}

#onlineUsersList li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

#onlineUsersList li:last-child {
    border-bottom: none;
}
