* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f5f7;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.forget-password {
    display: inline-block;
    text-decoration: none;
    color: #bbb;
    text-transform: capitalize;
    font-size: 12px;
    margin: 10px 0;
}

.forget-password:hover {
    color: lightslategray;
    border-bottom: 2px solid #ff4b2b;
}

button {
    background: #ff4b2b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #e43f2a;
}

.register-button {
    background: #ff4b2b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s;
}